<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.proppadia.mlb.retrain.weekly</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/jerrystrain/bin/proppadia_mlb_retrain_weekly.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/jerrystrain/Projects/proppadia/artifacts/ops/mlb_retrain_weekly.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/jerrystrain/Projects/proppadia/artifacts/ops/mlb_retrain_weekly.out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>23</integer>
		<key>Minute</key>
		<integer>5</integer>
		<key>Weekday</key>
		<integer>3</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/jerrystrain/Projects/proppadia</string>
</dict>
</plist>
